<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Brand" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row align-items-center mb-4 g-2">
    <div class="col-lg-3 col-md-4 me-auto">
        <div class="search-box">
            <input type="text" class="form-control search" placeholder="Tìm kiếm bằng tên thương hiệu" [(ngModel)]="term"
                (keyup)="filterdata()">
            <i class="ri-search-line search-icon"></i>
        </div>
    </div><!--end col-->
    <div class="col-md-auto">
        <a href="javascript:void(0);" class="btn btn-secondary" (click)="showAddModal()"><i
                class="bi bi-plus-circle align-baseline me-1"></i> Thêm thương hiệu</a>
    </div><!--end col-->
</div>
<div class="table-responsive">
    <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
        <thead class="text-muted table-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col" class="sort cursor-pointer" (click)="onSort('name')">Tên nhãn hiệu</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Slug</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody class="list" id="file-list">
            @for (data of displayedBrands; track $index) {
            <tr>
                <td>
                    <a href="javascript:void(0);" class="text-reset document_name">#{{data.brandId}}</a>
                </td>
                <td class="file_item">
                    <div class="d-flex gap-2 align-items-center">
                        <div class="avatar-xs bg-light rounded p-1 me-2">
                            <img [src]="data.iconImageUrl | fullImageUrl" alt="" class="img-fluid d-block">
                        </div>
                        <div class="flex-grow-1">
                            <a href="javascript:void(0);" (click)="showUpdateModal(data.brandId)"
                                class="text-reset link-primary">{{data.name}}</a>
                        </div>
                    </div>
                </td>
                <td class="file_item">
                    <div class="d-flex gap-2 align-items-center">
                        <div class="flex-grow-1">
                            <a href="javascript:void(0);" (click)="showUpdateModal(data.brandId)"
                                class="text-reset link-primary">{{data.description}}</a>
                        </div>
                    </div>
                </td>
                <td class="file_item">
                    <div class="d-flex gap-2 align-items-center">
                        <div class="flex-grow-1">
                            <a href="javascript:void(0);" (click)="showUpdateModal(data.brandId)"
                                class="text-reset link-primary">{{data.slug}}</a>
                        </div>
                    </div>
                </td>
                <td>
                    <ul class="d-flex gap-2 list-unstyled mb-0">
                        <li>
                            <a href="javascript:void(0);" class="btn btn-subtle-secondary btn-icon btn-sm edit-item-btn"
                                (click)="showUpdateModal(data.brandId)"><i class="ph-pencil"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="btn btn-subtle-danger btn-icon btn-sm remove-item-btn"
                                (click)="showDeleteModal(data.brandId)"><i class="ph-trash"></i></a>
                        </li>
                    </ul>
                </td>
            </tr><!-- end tr -->
            }
        </tbody><!-- end tbody -->
    </table><!-- end table -->
    <div class="noresult" style="display: none">
        <div class="text-center">
            <!-- <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:75px;height:75px"></lord-icon> -->
            <h5 class="mt-2">Sorry! Not found infomation</h5>
            <p class="text-muted mb-0">We have searched based on the information you provided, but found no results.
                Please contact the administrator for assistance</p>
        </div>
    </div>
</div>

<div class="noresult" style="display: none;">
    <div class="text-center py-4">
        <i class="ph-magnifying-glass fs-1 text-primary"></i>
        <h5 class="mt-2">Sorry! Not found infomation</h5>
        <p class="text-muted mb-0">We have searched based on the information you provided, but found no results. Please
            contact the administrator for assistance.</p>
    </div>
</div>

<div *ngIf="isLoading" id="elmLoader">
    <div class="spinner-border text-primary avatar-sm" role="status">
        <span class="visually-hidden">Search...</span>
    </div>
</div>

<div class="row align-items-center mb-3" id="pagination-element">
    <div class="col-sm">
        <div class="text-muted text-center text-sm-start">
            Hiển thị <span class="fw-semibold">{{displayedBrands.length}}</span> trong số <span
                class="fw-semibold">{{displayedBrands.length}}</span> kết quả
        </div>
    </div><!--end col-->
    <div class="col-sm-auto mt-3 mt-sm-0">
        <pagination class="pagination-wrap hstack justify-content-center gap-2" [totalItems]="allBrands.length"
            [itemsPerPage]="15" (pagrChanged)="pageChanged($event)"></pagination>
    </div><!--end col-->
</div><!--end row-->

<!--Add Modal-->
<div bsModal #addModal="bs-modal" class="modal fade" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content border-0">
            <div class="modal-header bg-secondary p-3">
                <h5 class="modal-title text-white" id="addBrandLabel">Add Brand</h5>
                <button type="button" class="btn-close btn-close-white" (click)="addModal.hide()"></button>
            </div>

            <form (ngSubmit)="addBrandAction()" [formGroup]="brandAddForm" class="tablelist-form" novalidate
                autocomplete="off">
                <div class="modal-body">
                    <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>

                    <div class="mb-3">
                        <label class="form-label">Picture of Brand<span class="text-danger">*</span></label>
                        <dropzone class="dropzone" [config]="dropzoneConfig" [message]="'Thả hình ảnh hoặc chọn hình ảnh mới.'" (success)="onUploadSuccess($event)" (removedFile)="removeFile($event)" (error)="onUploadError($event)">
                        </dropzone>
                        @if (photoUrl) {
                        <ul class="list-unstyled mb-0" id="dropzone-preview">

                            <li class="mt-2" id="dropzone-preview-list">
                                <div class="border rounded">
                                    <div class="d-flex flex-wrap gap-2 p-2">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-sm bg-light rounded p-2">
                                                @if (photoUrl) {
                                                <img class="img-fluid rounded d-block" [src]="photoUrl" alt="Dropzone-Image" />
                                                }@else {
                                                <img class="img-fluid rounded d-block" [src]="file" alt="Dropzone-Image" />
                                                }
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <div class="pt-1">
                                                @if (photoUrl) {<h5 class="fs-md mb-1 text-break">Là hình ảnh hiện tại.</h5>} @else {<h5 class="fs-md mb-1 text-break">{{ file.name }}</h5>}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                        }
                        
                    </div>
                    <div class="mb-3">
                        <label for="brand-name-input" class="form-label">Name of brand<span
                                class="text-danger">*</span></label>
                        <input type="text" id="brand-name-input" formControlName="name" class="form-control"
                            placeholder="Name" required>
                    </div>
                    <div class="mb-3">
                        <label for="brand-slug-input" class="form-label">Slug of brand<span
                                class="text-danger">*</span></label>
                        <input type="text" id="brand-slug-input" formControlName="slug" class="form-control"
                            placeholder="slug" required>
                    </div>
                    <div class="mb-3">
                        <label for="brand-description-input" class="form-label">Description of brand<span
                                class="text-danger"></span></label>
                        <input type="text" id="brand-description-input" formControlName="description"
                            class="form-control" placeholder="Description">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-info" (click)="onCloseAddModal()"><i
                                class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                        <button type="submit" class="btn btn-primary" id="add-btn">Add</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- modal-content -->
    </div>
</div><!--end add modal-->

<!--Update Modal-->
<div bsModal #updateModal="bs-modal" class="modal fade" id="updateModal">
    <div class="modal-dialog">
        <div class="modal-content border-0">
            <div class="modal-header bg-secondary p-3">
                <h5 class="modal-title text-white" id="addBrandLabel">Update Brand</h5>
                <button type="button" class="btn-close btn-close-white" (click)="updateModal.hide()"></button>
            </div>

            <form (ngSubmit)="updateBrandAction()" [formGroup]="brandUpdateForm" class="tablelist-form" novalidate
                autocomplete="off">
                <div class="modal-body">
                    <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
                    <div class="mb-3">
                        <label class="form-label">Picture of Category<span class="text-danger">*</span></label>
                        <dropzone class="dropzone" [config]="dropzoneConfig" [message]="'Thả hình ảnh hoặc chọn hình ảnh mới.'" (success)="onUploadSuccess($event)" (removedFile)="removeFile($event)" (error)="onUploadError($event)">
                         </dropzone>

                        @if (photoUrl) {
                        <ul class="list-unstyled mb-0" id="dropzone-preview">

                            <li class="mt-2" id="dropzone-preview-list">
                                <div class="border rounded">
                                    <div class="d-flex flex-wrap gap-2 p-2">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-sm bg-light rounded p-2">
                                                @if (photoUrl) {
                                                <img class="img-fluid rounded d-block" [src]="photoUrl" alt="Dropzone-Image" />
                                                }@else {
                                                <img class="img-fluid rounded d-block" [src]="file" alt="Dropzone-Image" />
                                                }
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <div class="pt-1">
                                                @if (photoUrl) {<h5 class="fs-md mb-1 text-break">Là hình ảnh hiện tại.</h5>} @else {<h5 class="fs-md mb-1 text-break">{{ file.name }}</h5>}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                        }
                    </div>
                    <div class="mb-3">
                        <label for="brand-name-input" class="form-label">Name of brand<span
                                class="text-danger">*</span></label>
                        <input type="text" id="brand-name-input" formControlName="name" class="form-control"
                            placeholder="Name" required>
                    </div>
                    <div class="mb-3">
                        <label for="brand-slug-input" class="form-label">Slug of brand<span
                                class="text-danger">*</span></label>
                        <input type="text" id="brand-slug-input" formControlName="slug" class="form-control"
                            placeholder="slug" required>
                    </div>
                    <div class="mb-3">
                        <label for="brand-description-input" class="form-label">Description of brand<span
                                class="text-danger"></span></label>
                        <input type="text" id="brand-description-input" formControlName="description"
                            class="form-control" placeholder="Description">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-info" (click)="onCloseUpdateModal()"><i
                                class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                        <button type="submit" class="btn btn-primary" id="update-btn">Update</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- modal-content -->
    </div>
</div><!--end update modal-->

<!-- delete Modal -->
<div bsModal #deleteModal="bs-modal" id="deleteModal" class="modal fade zoomIn">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" id="deleteRecord-close"
                    (click)="deleteModal.hide()"></button>
            </div>
            <div class="modal-body p-md-5">
                <div class="text-center">
                    <div class="text-danger">
                        <i class="bi bi-trash display-5"></i>
                    </div>
                    <div class="mt-4">
                        <h4 class="mb-2">Are you sure ?</h4>
                        <p class="text-muted mx-3 mb-0">Are you sure you want to delete this line? Once deleted, it
                            cannot be restored ?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 pt-2 mb-2">
                    <button type="button" class="btn w-sm btn-light btn-hover"
                        (click)="deleteModal.hide()">Close</button>
                    <button type="button" (click)="deleteAction()" class="btn w-sm btn-danger btn-hover"
                        id="delete-record">Yes, Do it!</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /deleteModal -->