<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Tất cả đơn hàng online" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-xxl">
                        <div class="search-box">
                            <input type="text" class="form-control search" [(ngModel)]="term" (keyup)="searchData()"
                                placeholder="Tìm kiếm mã đơn hàng">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div><!--end col-->
                    <div class="col-xxl-2 col-sm-12">
                        <div>
                            <select [(ngModel)]="selectedOrderStatus" class="form-select">
                                <option [defaultSelected]="true" value="">Tất cả trạng thái</option>
                                <option value="0">{{0 | orderStatus:'label'}}</option>
                                <option value="1">{{1 | orderStatus:'label'}}</option>
                                <option value="2">{{2 | orderStatus:'label'}}</option>
                                <option value="3">{{3 | orderStatus:'label'}}</option>
                                <option value="4">{{4 | orderStatus:'label'}}</option>
                                <option value="5">{{5 | orderStatus:'label'}}</option>
                            </select>
                        </div>
                    </div><!--end col-->
                    <div class="col-xxl-2 col-sm-6">
                        <div>
                            <input type="date" class="form-control" showWeekNumbers="false" 
                                 [(ngModel)]="fromDate" name="fromDate">
                        </div>
                    </div><!--end col-->
                    <div class="col-xxl-1 col-sm-12">
                        <div class="center-text mt-2">
                            <p class="fw-bold m-0">đến ngày</p>
                        </div>
                    </div>
                    <div class="col-xxl-2 col-sm-6">
                        <div>
                            <input type="date" class="form-control" showWeekNumbers="false"
                                 [(ngModel)]="toDate" name="toDate">
                        </div>
                    </div><!--end col-->
                    <div class="col-xxl-auto col-sm-6">
                        <button type="button" class="btn btn-subtle-primary w-md" (click)="filterdata()">
                            <i class="bi bi-funnel align-baseline me-1"></i> Lọc</button>
                    </div><!--end col-->
                </div><!--end row-->
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center g-2">
                    <div class="col-lg-3 me-auto">
                        <h6 class="card-title mb-0">Tất cả đơn hàng<span
                                class="badge bg-primary ms-1 align-baseline">{{allOrders.length}}</span></h6>
                    </div><!--end col-->
                </div>
                <div class="card-body mt-3">
                    <div class="table-responsive table-card">
                        <table class="table table-centered align-middle table-custom-effect table-nowrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="option"
                                                [(ngModel)]="masterSelected" (change)="checkUncheckAll($event)"
                                                id="checkAll">
                                            <label class="form-check-label" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th scope="col">Mã đơn hàng</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col" class="sort cursor-pointer" (click)="onSort('customerName')">Tên
                                        khách hàng</th>
                                    <th scope="col">SĐT</th>
                                    <th scope="col" class="sort cursor-pointer">Thời gian đặt hàng</th>
                                </tr>
                            </thead>
                            <tbody class="list form-check-all">
                                @for (data of displayedOrders; track $index) {
                                <tr id="l_{{data.orderId}}">
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="checkAll"
                                                value="{{data.orderId}}" [(ngModel)]="data.state"
                                                (change)="onCheckboxChange($event)">
                                            <label class="form-check-label"></label>
                                        </div>
                                    </td>
                                    <td class="order_id cursor-pointer"><a (click)="goToOrders(data.orderId)"
                                            class="fw-medium link-primary">#{{data.orderId}}</a></td>
                                    <td class="contact">{{data.orderStatus | orderStatus:'label'}}</td>
                                    <td class="contact">{{data.customerName}}</td>
                                    <td class="contact">{{data.customerPhonenumber}}</td>
                                    <td class="contact">{{data.createdAt | dateToString:'getDatetime'}}</td>
                                </tr>
                                }
                            </tbody><!-- end tbody -->
                        </table><!-- end table -->

                        <div *ngIf="isLoading" id="elmLoader">
                            <div class="spinner-border text-primary avatar-sm" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>

                        <div class="noresult" [ngClass]="(displayedOrders?.length != 0)?'d-none':''">
                            <div class="text-center py-4">
                                <i class="ph-magnifying-glass fs-1 text-primary"></i>
                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                <p class="text-muted mb-0">Không có kết quả tìm kiếm</p>
                            </div>
                        </div>
                    </div>
                    <div [ngClass]="(displayedOrders?.length == 0)?'d-none':''" class="row align-items-center mt-4 pt-3"
                        id="pagination-element">
                        <div class="col-sm">
                            <div class="text-muted text-center text-sm-start">
                                Hiện <span class="fw-semibold">{{displayedOrders?.length}}</span> trong tổng số <span
                                    class="fw-semibold">{{allOrders.length}}</span>
                                kết quả
                            </div>
                        </div><!--end col-->
                        <div class="col-sm-auto mt-3 mt-sm-0">
                            <pagination class="pagination-wrap hstack justify-content-center gap-2"
                                [totalItems]="allOrders.length" [itemsPerPage]="10"
                                (pageChanged)="pageChanged($event)"></pagination>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->

</div>