<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Customers" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center flex-wrap gap-3">
                    <div class="flex-grow-1">
                        <h3 class="card-title mb-0">Danh sách khách hàng</h3>
                    </div>
                    <div>
                        <div class="d-flex flex-wrap gap-2">
                            <button type="button" class="btn btn-secondary"><i class="ph-cloud-arrow-down align-middle me-1"></i> Import</button>
                            <button type="button" class="btn btn-subtle-info"><i class="ph-cloud-arrow-up align-middle me-1"></i> Export</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->

<div class="row" id="customer-list">
    <div class="col-xxl-8">
        <div class="card">
            <div class="card-body">
                <div class="row gy-3">
                    <div class="col-xl-4">
                        <div class="search-box">
                            <input type="text" class="form-control search" placeholder="Tìm bằng tên, SĐT, email" [(ngModel)]="term" (keyup)="filterdata()">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4">
                        <div>
                            <select class="form-control" id="idStatus" (click)="selectstatus()">
                                <option value="" selected>All Select</option>
                                <option value="Active">Active</option>
                                <option value="Unactive">Banned</option>
                                <option value="Block">Deleted</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4">
                        <input type="text" class="form-control" id="datepicker-range" mwlFlatpickr dateFormat="d M, Y" mode="range" placeholder="Select date">
                    </div>
                    <div class="col-xl-2 col-md-4">
                        <button class="btn btn-subtle-primary w-100"><i class="bi bi-funnel align-baseline me-1"></i> Filter</button>
                    </div>
                </div>
            </div>
        </div><!--end card-->
        <div class="card">
            <div class="card-body">
                <div class="table-responsive table-card">
                    <table class="table align-middle table-nowrap">
                        <tbody class="list">
                            @for (data of displayedCustomers; track $index) {
                            <tr>
                                <td class="id d-none"><a href="javascript:void(0);" class="fw-medium link-primary">01</a></td>
                                <td class="customer">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-2">
                                            <div>
                                                <img class="avatar-xs rounded-circle customer-image-elem" alt="" src="{{data.pictureUrl | fullImageUrl}}">
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h5 class="fs-base mb-0"><a href="javascript:void(0);" (click)="viewCustomer($index)" class="text-reset customer-name-elem">{{data.name}}</a></h5>
                                        </div>
                                    </div>
                                </td>
                                <td class="email">{{data.email}}</td>
                                <td class="contact">{{data.phoneNumber}}</td>
                                <td class="date">{{data.createdAt| dateToString:'getDate'}}</td>
                                <td class="status"><span class="badge" [ngClass]="{'bg-secondary-subtle text-secondary': data.status === 1,'bg-success-subtle text-success': data.status === 0,'bg-danger-subtle text-danger': data.status === 3}">{{data.status}}</span></td>
                                <td>
                                    <div dropdown class="dropdown">
                                        <button dropdownToggle class="btn btn-subtle-secondary btn-sm dropdown" type="button">
                                            <i class="ri-more-fill align-middle"></i>
                                        </button>
                                        <ul *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item view-item-btn" href="javascript:void(0);" (click)="viewCustomer($index)"><i
                                                        class="bi bi-check-circle align-bottom me-2 text-muted"></i>Mở khóa</a>
                                            </li>
                                            <li><a class="dropdown-item edit-item-btn" href="javascript:void(0);" (click)="editCustomer($index)"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0" />
                                                    </svg>
                                                    Khóa</a></li>
                                            <li><a class="dropdown-item remove-item-btn" href="javascript:void(0);" (click)="removeCustomer(data.id)"><i
                                                        class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
                                                    Xóa</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <div *ngIf="isLoading" id="elmLoader">
                    <div class="spinner-border text-primary avatar-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="noresult" style="display:none">
                    <div class="text-center py-4">
                        <i class="ph-magnifying-glass fs-1 text-primary"></i>
                        <h5 class="mt-2">Sorry! No Result Found</h5>
                        <p class="text-muted mb-0">We've searched more than 150+ customers We did not find any customers
                            for you search.</p>
                    </div>
                </div>
                <div class="align-items-center mt-4 justify-content-between row text-center text-sm-start" id="pagination-element">
                    <div class="col-sm">
                        <div class="text-muted">
                            Showing <span class="fw-semibold">{{displayedCustomers?.length}}</span> of <span class="fw-semibold">{{allCustomers?.length}}</span> Results
                        </div>
                    </div>
                    <div class="col-sm-auto  mt-3 mt-sm-0">
                        <pagination class="pagination-wrap hstack gap-2" [totalItems]="allCustomers?.length" [itemsPerPage]="10" (pageChanged)="pageChanged($event)"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xxl-4">
        @if(customerdetail){
            <div class="card" id="overview-card">
                <div class="card-body">
                    <div class="d-flex gap-3 align-items-center flex-wrap">
                        <div class="flex-shirnk-0">
                            <img src="{{customerdetail.pictureUrl | fullImageUrl }}" alt="" class="avatar-sm rounded overview-img">
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="fs-lg overview-name">{{customerdetail.name}}</h6>
                            <p class="text-muted mb-0"><a href="javascript:void(0);" class="overview-nick-name">&#64;{{customerdetail.firstName}}</a></p>
                        </div>
                    </div>
                    <ul class="d-flex align-items-center gap-2 list-unstyled mt-4">
                        <li>Social Media:</li>
                        <li>
                            <a href="javascript:void(0);" class="btn btn-subtle-success btn-icon btn-sm"><i class="bi bi-whatsapp"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="btn btn-subtle-primary btn-icon btn-sm"><i class="bi bi-facebook"></i></a>
                        </li>
                    </ul>
                    <div>
                        <table class="table table-sm table-borderless">
                            <tbody>
                                <tr>
                                    <th>Email</th>
                                    <td class="overview-email">{{customerdetail.email}}</td>
                                </tr>
                                <tr>
                                    <th>SĐT</th>
                                    <td class="overview-contact">{{customerdetail.phoneNumber}}</td>
                                </tr>
                                <tr>
                                    <th>Ngày tham gia</th>
                                    <td class="overview-date">{{customerdetail.createdAt | dateToString:'getDate'}}</td>
                                </tr>
                                <tr>
                                    <th>Trạng thái</th>
                                    <td class="overview-status"><span class="badge bg-danger-subtle text-danger">{{customerdetail.status}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-body px-0 pt-0">
                    <h6 class="fs-md px-4 mb-3">Lịch sử mua hàng</h6>
                    <ngx-simplebar class="px-4" style="max-height: 333px;">
                        @for (order of customerdetail.orders; track $index) {
                            <div class="vstack gap-2">
                            <div class="p-2 border border-dashed">
                                <p class="text-muted"><a href="javascript:void(0);" (click)="goToOrder(order.orderId)" class="overview-nick-name">#{{order.orderId}}</a></p>
                                <p>Tổng tiền: {{order.finalAmount | thousandSeparator}}</p>
                                <p>Ngày đặt: {{order.orderDate | dateToString:'getDate'}}</p>
                            </div>
                        </div>
                        }
                    </ngx-simplebar>
                </div>
            </div>
        }
    </div>
</div><!--end row-->


<!-- deleteRecordModal -->
<div bsModal #deleteRecordModal="bs-modal" id="deleteRecordModal" class="modal fade zoomIn">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" id="deleteRecord-close" (click)="deleteRecordModal.hide()"></button>
            </div>
            <div class="modal-body p-md-5">
                <div class="text-center">
                    <div class="text-danger">
                        <i class="bi bi-trash display-4"></i>
                    </div>
                    <div class="mt-4">
                        <h3 class="mb-2">Are you sure ?</h3>
                        <p class="text-muted fs-lg mx-3 mb-0">Are you sure you want to remove this record ?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-light btn-hover" (click)="deleteRecordModal.hide()">Close</button>
                    <button type="button" class="btn w-sm btn-danger btn-hover" id="delete-record" (click)="deleteCustomer()">Yes, Delete
                        It!</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /deleteRecordModal -->